@media (max-width: 1140px) {

}

@media (max-width: 800px) {

    .header-title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .header-subtitle {
        font-size: 12px;
    }

    .header-arrow {
        width: 25px;
        height: 25px;
    }

    .down-arrow img {
        width: 25px;
        height: 25px;
    }

    .down-arrow:hover {
        padding-bottom: 5px;
    }

    .portfolio {
        padding-top: 40px;
        padding-bottom: 65px;
    }

    .portfolio-cards-wrapper {
        justify-content: center;
    }

    .portfolio-header {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .card {
        padding: 25px;
    }

    .card:nth-last-child(2) {
        margin-bottom: 35px;
    }

    .card-block-img {
        margin-bottom: 15px;
    }

    .card-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .card p {
        font-size: 13px;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    /* .footer-row {
        flex-wrap: wrap;
        justify-content: center;
    } */

    .footer-col {
        margin-bottom: 30px;
        max-width: 200px;
    }

    .footer-copyright-name {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .footer-copyright p {
        font-size: 11px;
    }

    .footer-icons p {
        margin-bottom: 10px;
        font-size: 13px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }

    .footer-icons-row a {
        width: 15px;
        height: 15px;
    }
    
    .footer-icons-invert {
        width: 15px;
        height: 15px;
    }
    
    .footer-button {
        border: 2px solid white;
        border-radius: 50px;

        padding: 0 10px;
        height: 35px;
        line-height: 20px;
        padding-top: 5px;

        font-size: 10px;
    }

    .footer-button:hover {
        border: 2px solid #b1b1b1;
        transform: translateY(-5px);
    }

    .footer-contacts p {
        font-size: 11px;
    }

    .project {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .project-header {
        padding-bottom: 20px;
        font-size: 24px;
    }
    
    .project-img {
        border-radius: 21px;
        width: 700px;
        height: auto;
        border: none;
        margin: 0 auto;
    }
    
    .project-description {
        margin: 20px auto 60px;
        max-width: 700px;
        margin-bottom: 30px;
    }
    
    .project-description p {
        font-size: 13px;
    }
    
    .project-btn-back {
        font-size: 13px;
        padding: 0 15px;
        height: 44px;
        line-height: 40px;
    }
}

@media (max-width: 600px) {
    .header {
        height: 90vh;
    }

    .header-title {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .header-subtitle {
        font-size: 10px;
    }

    .down-arrow img {
        width: 20px;
        height: 20px;
    }

    .portfolio-header {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .portfolio {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .card {
        flex-direction: column;
        max-width: 360px;
        padding: 13px;
        margin-bottom: 25px;
    }

    .card-block-img {
        display: inline-block;
        max-width: 334px;
        height: auto;
        margin-bottom: 8px;
    }

    .card-img {
        border-radius: 10px;
        width: 335px;
    }

    .card-title {
        font-size: 17px;
    }

    .card p {
        font-size: 11px;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-copyright-name {
        font-size: 12px;
        margin-bottom: 0;
    }

    .footer-copyright p {
        font-size: 10px;
    }

    .footer-col {
        margin: 0;
        margin-bottom: 5px;
        max-width: 600px;
        flex-grow: 0;
        text-align: center;
    }

    .footer-icons {
        margin: 0 0 15px 0;
    }

    .footer-icons-row {
        padding: 0 15px 0 15px;
        justify-content: center;
    }

    .footer-button {
        display: inline-block;
    }

    .footer-contacts p {
        font-size: 10px;
    }

    .project {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .project-header {
        padding-bottom: 20px;
        font-size: 25px;
    }
    
    .project-img {
        width: 400px;
    }
    
    .project-description {
        max-width: 350px;
    }
    
    .project-description p {
        font-size: 13px;
    }
    
    .project-btn-back {
        font-size: 11px;
        padding: 0 10px;
        height: 44px;
        line-height: 40px;
    }
}